<div class="workout-card">
  <div class="workout-card-header">
    <h1>{{name_of_workout}} </h1>
  </div>
  <div class="card-body">
    
    <p>{{name_of_workout}}</p>
    <p>
    {{instructions}}
    </p>
    <p>
        {{reps}}
    </p>
    <p>
        {{sets}}
    </p>
    <p>
        {{equipment}}
    </p>
    <p>
        {{muscle_group}}
    </p>
    <p>
        {{difficulty}}
    </p>
  </div>
</div>